#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #007BFF; /* Example color, change to your preference */
    color: #FFFFFF; /* Adjust based on readability with background color */
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #D6A800; /* Blends with your color scheme */
    text-decoration: none;
}

a:hover, a:visited {
    color: #FFC107; /* Change as needed for contrast and visibility */
}
